body,div,p,h1,h2,h3,h4,em,span,a,td,form,input,select,textarea{margin:0;padding:0;font-size:13px;line-height:21px;font-style:normal;}
img{border:none;}
input,select{vertical-align:middle}
a{color:#1e50a2; text-decoration:none}
.w100{ width:100px}
.login,.nav,.qk_into,.cz_con,.hm,.kjgg,.footer p{ padding-left:10px}
.login{ background:#f4f4f4; margin-bottom:5px}
.winner{ color:#ba2636; line-height:20px;margin-top:5px}
.winner img{ vertical-align: top}
.nav{ border: solid #880000; border-width:1px 0; background-color:#ba2636; color:#eee; line-height:28px; margin:5px 0 } 
.nav a {color:#FFFFFF;}
.qk_into a,.org_btn{ background: url(http://img3.126.net/caipiao/wap/repeat.png) repeat-x; border: solid #df7900; border-width:0 1px; padding:0 5px;color:#ffffff; text-decoration:none; height:21px; line-height:21px; display:inline-block; overflow:hidden; margin-top:5px }
.cz_con,.hm_con{ color:#2b2b2b;}
.cz_con p a,.cz_con p b{color:#1e50a2}
.cz_con p,.hm_con p{ padding-top:8px}
.hm_con{ padding-bottom:5px}
.hm_t{background:#f4f4f4; height:20px; margin-top:5px; font-size:13px}
.kjgg{ padding-top:5px}
.kjgg p{padding-bottom:8px;}
.goto_other{border: solid #bfd6ea; border-width:1px 0; background-color:#d6e8f7; margin-bottom:10px}
.suc{ font-size:14px; font-weight:bold; text-align:center; line-height:28px; color:#467902; padding:20px 0}
.load{ line-height:28px; padding:10px}
.d_line{ margin:5px 0; height:1px; font-size:1px; border-top:1px dotted #cbcbcb }
.tips{border:1px solid #a5c2da; background-color:#f3faff; margin:10px; padding:2px 5px}
.err{border:1px solid #ffb2b2; background-color:#ffeded; margin:10px; padding:2px 5px; color:#fe0200}
.copy{ color:#585858; text-align:center; border-top:1px solid #cbcbcb; padding:5px 0 10px; margin-top:5px}
.c_fe0200{ color:#fe0200}
.c_1e50a2{ color:#1e50a2}
.pad2{padding:10px 0 0;}
.imgbox{ clear:both}
.imgbox span{ text-align:center; width:90px; margin:5px ; float:left; display:inline-block}
.clearfix{*zoom:1;}
.clearfix:after{content:'\20 ';display:block;height:0;clear:both;}

